CONTAINER_NAME_PREFIX= <use either stag_ or prod_>

DB_USER=opendata
DB_PASSWORD=
DB_NAME=opendata
DB_PORT=

ENTSOE_API_KEY=

PG_MAIL=
PG_PW=
PGADMIN_PORT=
POSTGREST_PORT=

GRAFANA_PW=
GRAFANA_PORT=

READONLY_PW=

PREFECT_POSTGRES_USER=prefect_user
PREFECT_POSTGRES_PASSWORD=
PREFECT_POSTGRES_DB=prefect_prod
PREFECT_PORT=

REDIS_PASSWORD=

PREFECT_API_DATABASE_CONNECTION_URL=postgresql+asyncpg://${PREFECT_POSTGRES_USER}:${PREFECT_POSTGRES_PASSWORD}@postgres:5432/${PREFECT_POSTGRES_DB}
PREFECT_REDIS_MESSAGING_PASSWORD=${REDIS_PASSWORD}
PREFECT_USER=
PREFECT_PASSWORD=
PREFECT_API_URL=http://<your-ip>:4200/api
WORKER_CODE_PATH=

POSTGRES_METABASE_PW=
METABASE_PORT=
